[build]
  command = "yarn export"
  publish = "out"
  functions = "functions"


[[redirects]]
  from = "/hello"
  to = "/.netlify/functions/hello"
  status = 200
  force = true
  [redirects.headers]
    X-From = "Netlify"

[[redirects]]
  from = "/d/*"
  to = "https://dfile.s3-us-west-2.amazonaws.com/dfile/:splat"
  status = 200
  force = true
  [redirects.headers]
    X-From = "Netlify"